* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px 0px;
}

#root {
  max-width: 1444px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  /* to make only the fact section to scroll */
  height: calc(100vh - 68px - 50px - 40px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  max-height: 68px;
  max-width: 68px;
}

.hidden {
  display: none !important;
}

.loading {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin-top: 25px;
}

.disputed {
  font-size: 700;
  color: red;
  margin-right: 10px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 230px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 16px;
}

/* to make only the fact-section to scroll */
.fact-section {
  overflow: scroll;
  scrollbar-color: #444444 #333333;
  scrollbar-width: none;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.tag {
  text-transform: uppercase;
  list-style: none;
  font-family: "Coiny", sans-serif;
  padding: 3px 10px 0 10px;
  border-radius: 30px;
}

.vote-buttons {
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.vote-buttons button {
  border: none;
  background-color: #57534e;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}

.vote-buttons button:hover {
  background-color: #292524;
}

.vote-buttons button:disabled {
  background-color: #44403c;
}

ul {
  list-style: none;
}

.date-posted {
  color: #a8a29e;
  margin-bottom: 15px;
  font-size: 15px;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.5s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #16a34a, #ef4444, #eab308);

  color: #fafaf9;
  transition: all 0.5s;
  border-radius: 30px;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
  cursor: pointer;
}

.btn-large {
  font-size: 30px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  width: 100%;
  margin-bottom: 32px;
}

.btn-category {
  width: 100%;
  background-image: none;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

@media (max-width: 1000px) {
  body {
    /* padding: 32px 48px; */
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}
